<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
  <title>1.Projekt - dd51028</title>

  <script>
    var x = document.getElementById("map");
    var db = openDatabase('mydb', '1.0', 'Lokacije', 2 * 1024 * 1024);
    var polje = [];
    var markeriTest = select(polje);

    function generateMap() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(init);
        console.log("Zatrazen je pristup lokaciji");
      } else { 
        x.innerHTML = "Ovaj browser nema mogucnost lokacije!";
      }
    }

    function select(polje){
      db.transaction(function (tx) {
        tx.executeSql('SELECT * FROM LOGS5 ORDER BY ID DESC LIMIT 5 ', [], function (tx, results) {
          var len = results.rows.length, i;
          for (i = 0; i < len; i++) {
            var marker = {"lat": results.rows.item(i).lat, "long": results.rows.item(i).long, "user": results.rows.item(i).username, "v": results.rows.item(i).vrijeme};
            polje.push(marker);
          }
        }, null);
      })
      return polje;
    }

    function insert(username, lat, long){
      console.log(username + ", " + lat + ", " + long);
      var myDate = new Date(Date.now());
      console.log(myDate.toLocaleString());

      db.transaction(function (tx) {
        tx.executeSql('CREATE TABLE IF NOT EXISTS LOGS5 (id integer primary key autoincrement, username, lat, long, vrijeme)');
        tx.executeSql("INSERT INTO LOGS5 (username, lat, long, vrijeme) VALUES ('" + username + "', '" + lat + "', '" + long + "', '" + Date.now() + "')");
      })
    }

    function init(position) {
      console.log("Uso sam tu!");
      const latitude  = position.coords.latitude;
      const longitude = position.coords.longitude;
      const username = document.getElementById("username");

      // Karta ce se sada ucitat, pokupi usera i njegovu lokaciju, spremi to u bazu.
      insert(username.innerHTML, latitude, longitude);

      // Pozicija i zoom da se vidi cijela Hrvatska.
      var mymap = L.map('map').setView([45.032022, 16.285627], 7);
      var token = "<%=token%>" // TODO: Visible in inspect.

      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 20,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: token // 'sk.eyJ1IjoiMmRvbnMiLCJhIjoiY2t2Z2lqdXd6MTlodjJ1bjNsajZ1dWFmaSJ9.tR_rFBw_5v0uSq9sQP7YLg'
      }).addTo(mymap);
      // Dodaj zadnjih 5 logina. markers
      console.log(markeriTest);
      for (let i = 0; i < markeriTest.length; i++) {
        var myDate = new Date(+markeriTest[i]['v']);
        var marker = L.marker([markeriTest[i]['lat'], markeriTest[i]['long']]).addTo(mymap);
        marker.bindPopup("<b>User: " + markeriTest[i]['user'] + "</b><br><b>Latitude: " + markeriTest[i]['lat'] + "</b><br><b>Longitude: " + markeriTest[i]['long'] + "</b><br><b>Vrijeme: " + myDate.toLocaleString() + "</b><br>");
      }
    }
  </script>
</head>

<body>
  

  <h1> 1. Projekt iz "Napredni razvoj programske potpore za web" </h1>
  <h2> Author: Dorian Dončević(0036510282) </h2>
  <h3> Fer Username: dd510282 </h3>

  <p>Sve ispod ovog teksta vide samo ulogirani korisnici</p>
  

  <% if (auth) { %>
    <div id="auth">
      <p id="username"><%=user['nickname']%></p>
      <p><a href="<%=linkOUT%>">Logout</a></p>
      <hr>
      <h2>Prikaz brojčane vrijednoste trenutne lokacije</h2>
        <p>Klikni dugme kako bi otkrio di si!</p>
        <button onclick="getLocation()">Pronadi Me!</button>
        <p id="location"></p>
      <hr>
      <h2>Prikaz lokacije na karti</h2>
      <p>Klikni dugme kako bi otkrio di si!</p>
      <button onclick="generateMap()">Pronadi Me Na Karti!</button>
      <div id="map" style="height: 500px;"></div>
      <hr>
  
    </div>
    <% } %>
    <% if (!auth) { %>
      <p>Nemate pravo pregledati ovaj sadržaj.</p>
      <p><a href="<%=linkIN%>">Login</a></p>
    <% } %>

    <script src="geolocation.js"></script>
</body>
</html>

