<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>1.Projekt - dd51028</title>
</head>

<body>
    <h1> 1. Projekt iz "Napredni razvoj programske potpore za web" </h1>
    <h2> Author: Dorian Dončević(0036510282) </h2>
    <h3> Fer Username: dd510282 </h3>
    <h4> Prijava korisnika </h4>

    <hr>
    <% if (auth) { %>
        <p>Uspješno ste se prijavili!</p>
        <p>Nickname: <%=nickname%></p>
        <p>Email: <%=email%></p>
        <p><a href="<%=linkOUT%>">Logout</a></p>
    <% } %>
    <% if (!auth) { %>
        <p>Nemate pravo pregledati ovaj sadržaj.</p>
        <p><a href="<%=linkIN%>">Login</a></p>
    <% } %>
    
</body>
</html>

